<p-accordion class="mt-3">
	<p-accordionTab header="Application ID/ Owner client ID" [selected]="!hasData">
		<input type="text" class="w-100" placeholder="Application ID/ Owner client ID" pInputText [(ngModel)]="searchValue">
		<small *ngIf="showError" id="searchValue-help"  class="p-error">Enter valid Application Number or Owner client Id.</small>
		<button pButton type="button" class="float-right mt-3" label="Search" (click)="searchData()"></button>
		<div style="clear:both;"></div>
	</p-accordionTab>
	<div *ngIf="hasData" >
		<p-accordionTab header="Policy with Application Number: {{policy.applicationName}}" [selected]="hasData" *ngFor="let policy of filteredPolicies; let i = index">
			<div class="grid">
				<div class="col-4" *ngFor="let fieldData of fieldsArr">
					<label class="text-bold">{{fieldData.header}}</label>
					<h5 *ngIf="fieldData.field== 'customerSegment'" class="text-bold p-text-info">
						{{policy[fieldData.field]}}
					</h5>
					<h5 *ngIf="fieldData.field== 'hni'" class="text-bold p-text-info">
						{{policy[fieldData.field]}}
					</h5>
					<h5 *ngIf="fieldData.field== 'priority'">
						<span class="p-text-color-{{policy[fieldData.field]}} text-bold">
							P{{policy[fieldData.field]}}
						</span>
					</h5>
					<div *ngIf="fieldData.field== 'policyAging'">
						{{ ((policy[fieldData.field] | date:'YY') - 70 )}} Years, {{policy[fieldData.field] | date:'MM'}} Months, {{policy[fieldData.field] | date:'dd' }} Days</div> 
					<div *ngIf="fieldData.field!= 'customerSegment' && fieldData.field!= 'hni' && fieldData.field!= 'policyAging' && fieldData.field!= 'priority'">{{policy[fieldData.field]}}</div>
				</div>
			</div>
		</p-accordionTab>
	</div>
</p-accordion>
